.main-content {
    padding: 5rem 3rem;
    width: 75%;
    background-color: var(  --bg-black-50);
    .home-section {
        .row-for-home-section {
                display: flex;
                // justify-content: space-between;
            .home-info {
                width: 50%;
                & h3 {
                    .name {
                        font-size: 2rem;
                        font-family: "Clicker Script", cursive;
                        font-weight: 700;
                        color: var(--skin-color);
                    }
                }

                & h2 {
                    .my-profession{
                        font-size: 2rem;
                    }
    
                    .typing {
                        color: var(--skin-color);
                    }
                }

                & p {
                    padding-bottom: 2rem;
                    font-size: 1rem;
                    color: var(--text-black-700);
                }

                .btn {
                    font-size: 1rem;
                    font-weight: 500;
                    padding: 1rem 2rem;
                    border-radius: 2rem;
                    border: none;
                    background: var(--skin-color);
                    color: var(--bg-black-100);
                    transition: all 0.3s ease;
                }
                
            }
            .home-img {
                width: 50%;
                padding: 0rem 2rem;
                position: relative;
                
                & img {
                    height: 500px;
                    width: 100%;
                    object-fit: contain;
                    display: block;
                }
            }

            .home-img::after {
                content: '';
                width: 30%;
                height: 20%;
                position: absolute;
                right: 12%;
                bottom: -5%;
                border-bottom: 10px solid var(--skin-color);
                border-right: 10px solid var(--skin-color);
                & img {
                    height: 100%;
                    width: 100%;
                }
            }

            .home-img::before {
                content: '';
                width: 30%;
                height: 20%;
                position: absolute;
                left: 12%;
                top: -5%;
                border-top: 10px solid var(--skin-color);
                border-left: 10px solid var(--skin-color);
                & img {
                    height: 100%;
                    width: 100%;
                }
            }

        }
        /* Medium Devices (phones) */
        @media (max-width: 495px) {  
            
            .row-for-home-section {
                flex-direction: column;
               .home-info {
                width: 100%;
                order: 2;
               }
               .home-img {
                width: 100%;
                padding: 0rem;
                order: 1;
                & img {
                    width: 100%;
                    height: 100%;
                }
               }

                .home-img::after {
                    display: none;
                    // content: '';
                    // width: 30%;
                    // height: 20%;
                    // position: absolute;
                    // right: 12%;
                    // bottom: -5%;
                    // border-bottom: 10px solid var(--skin-color);
                    // border-right: 10px solid var(--skin-color);
                    // & img {
                    //     height: 100%;
                    //     width: 100%;
                    // }
                }

                .home-img::before {
                    display: none;
                    // content: '';
                    // width: 30%;
                    // height: 20%;
                    // position: absolute;
                    // left: 12%;
                    // top: -5%;
                    // border-top: 10px solid var(--skin-color);
                    // border-left: 10px solid var(--skin-color);
                    // & img {
                    //     height: 100%;
                    //     width: 100%;
                    // }
                }
            }
            
        }

    }

    @media (max-width: 495px){
        width: 100%;
        padding: 1rem;
    }

}
