.main-content {
    width: 90%;
    padding: 2rem;
    flex: 1;
    padding-left: 7%;
    transition: all .4s ease;
    background-color: var(--bg-black-900);
    overflow: hidden;
    .home-section {
        .row-for-home-section {
                display: flex;
            .home-info {
                width: 50%;
                & h3 {
                    font-family: "Clicker Script", cursive;
                    color: var(--skin-color);
                    font-size: 3rem;
                    .name {
                        font-size: 2rem;
                        font-family: "Clicker Script", cursive;
                        font-weight: 700;
                        color: var(--skin-color);
                    }
                }

                & h2 {
                    .my-profession{
                        font-size: 2rem;
                    }
    
                    .typing {
                        color: var(--skin-color);
                    }
                }

                & p {
                    padding-bottom: 2rem;
                    font-size: 1rem;
                    color: var(--text-black-700);
                }

                .more-info-container {
                    width: 100%;
                    .more-info {
                        font-size: 1rem;
                        font-weight: 500;
                        padding: 1rem 2rem;
                        border-radius: 2rem;
                        border: none;
                        background: var(--skin-color);
                        color: var(--bg-black-100);
                        transition: all 0.3s ease-in-out;
                        & i {
                            padding: 0rem .5rem;
                        }
                    }
                    .more-info:hover {
                        transform: translateY(-5px);
                    }
                }
                
            }
            .home-img {
                width: 50%;
                padding: 0rem 2rem;
                position: relative;
                // background: linear-gradient(to right,#545454,black,   #a6a6a6, #ffffff,#737373,);
                background-blend-mode: multiply;
                background-repeat: no-repeat;
                background-position: center center;
                & img {
                    height: 500px;
                    width: 100%;
                    object-fit: contain;
                    display: block;
                }
            }

            .home-img::after {
                content: '';
                width: 30%;
                height: 20%;
                position: absolute;
                right: 12%;
                bottom: -5%;
                border-bottom: 10px solid var(--skin-color);
                border-right: 10px solid var(--skin-color);
                & img {
                    height: 100%;
                    width: 100%;
                }
            }

            .home-img::before {
                content: '';
                width: 30%;
                height: 20%;
                position: absolute;
                left: 12%;
                top: -5%;
                border-top: 10px solid var(--skin-color);
                border-left: 10px solid var(--skin-color);
                & img {
                    height: 100%;
                    width: 100%;
                }
            }

        }
        /* Medium Devices (Mid Desktops) */
        @media (max-width: 1290px) {
            .row-for-home-section {
                display: flex;
            .home-info {
                width: 50%;
                & h3 {
                    .name {
                        font-size: 2rem;
                        font-family: "Clicker Script", cursive;
                        font-weight: 700;
                        color: var(--skin-color);
                    }
                }

                & h2 {
                    .my-profession{
                        font-size: 2rem;
                    }
    
                    .typing {
                        color: var(--skin-color);
                    }
                }

                & p {
                    padding-bottom: 2rem;
                    font-size: 1rem;
                    color: var(--text-black-700);
                }

                .btn {
                    width: 100%;
                    font-size: 1rem;
                    font-weight: 500;
                    padding: 1rem 2rem;
                    border-radius: 2rem;
                    border: none;
                    background: var(--skin-color);
                    color: var(--bg-black-100);
                    transition: all 0.3s ease;
                }
                
            }
            .home-img {
                width: 50%;
                padding: 0rem 2rem;
                position: relative;
                
                & img {
                    height: 500px;
                    width: 100%;
                    object-fit: contain;
                    display: block;
                }
            }

            .home-img::after {
                content: '';
                width: 30%;
                height: 20%;
                position: absolute;
                right: 5%;
                bottom: -5%;
                border-bottom: 10px solid var(--skin-color);
                border-right: 10px solid var(--skin-color);
                & img {
                    height: 100%;
                    width: 100%;
                }
            }

            .home-img::before {
                content: '';
                width: 30%;
                height: 20%;
                position: absolute;
                left: 5%;
                top: -5%;
                border-top: 10px solid var(--skin-color);
                border-left: 10px solid var(--skin-color);
                & img {
                    height: 100%;
                    width: 100%;
                }
            }

        }
        }

        /* Medium Devices (Tablets) */
        @media (max-width: 1024px) {
            margin: 0;
            .row-for-home-section {
                flex-direction: column;
               .home-info {
                width: 100%;
                order: 2;
               }
               .home-img {
                width: 100%;
                padding: 0rem;
                order: 1;
                & img {
                    width: 100%;
                    height: 100%;
                    border-radius: 1rem;
                }
               }

                .home-img::after {
                    display: none;
                    // content: '';
                    // width: 30%;
                    // height: 20%;
                    // position: absolute;
                    // right: 12%;
                    // bottom: -5%;
                    // border-bottom: 10px solid var(--skin-color);
                    // border-right: 10px solid var(--skin-color);
                    // & img {
                    //     height: 100%;
                    //     width: 100%;
                    // }
                }

                .home-img::before {
                    display: none;
                    // content: '';
                    // width: 30%;
                    // height: 20%;
                    // position: absolute;
                    // left: 12%;
                    // top: -5%;
                    // border-top: 10px solid var(--skin-color);
                    // border-left: 10px solid var(--skin-color);
                    // & img {
                    //     height: 100%;
                    //     width: 100%;
                    // }
                }
            }
          }
        /* Mobile Devices (phones) */
        @media (max-width: 495px) {
            .row-for-home-section {
                flex-direction: column;
               .home-info {
                width: 100%;
                order: 2;
                .more-info {
                    width: 100%;
                    font-size: 1rem;
                    font-weight: 500;
                    padding: 1rem 2rem;
                    border-radius: 2rem;
                    border: none;
                    background: var(--skin-color);
                    color: var(--bg-black-100);
                    transition: all 0.3s ease-in-out;
                    & i {
                        padding: 0rem .5rem;
                    }
                }
               }
               .home-img {
                width: 300px;
                height: 300px;
                margin: 0 auto;
                padding: 0rem;
                order: 1;
                & img {
                    box-shadow: 0 0 25px var(--skin-color);
                    transition: all .4s ease-in-out;
                    width: 100%;
                    height: 100%;
                    border-radius: 250px;
                    display: block;
                    object-fit: cover;
                    &:hover {
                        box-shadow: 0 0 25px var(--skin-color), 0 0 50px var(--skin-color), 0 0 100px var(--skin-color);
                    }
                }
                
               }

                .home-img::after {
                    display: none;
                    // content: '';
                    // width: 30%;
                    // height: 20%;
                    // position: absolute;
                    // right: 12%;
                    // bottom: -5%;
                    // border-bottom: 10px solid var(--skin-color);
                    // border-right: 10px solid var(--skin-color);
                    // & img {
                    //     height: 100%;
                    //     width: 100%;
                    // }
                }

                .home-img::before {
                    display: none;
                    // content: '';
                    // width: 30%;
                    // height: 20%;
                    // position: absolute;
                    // left: 12%;
                    // top: -5%;
                    // border-top: 10px solid var(--skin-color);
                    // border-left: 10px solid var(--skin-color);
                    // & img {
                    //     height: 100%;
                    //     width: 100%;
                    // }
                }
            }
            
        }

    }
    /* Medium Devices (Tablets) */
    @media (max-width: 1024px){
        margin: 0rem;
        width: 100%;
        padding: 1rem;
    }
    /* Mobile Devices (phones) */
    @media (max-width: 495px){
        margin: 0rem;
        width: 100%;
        padding: 1rem;
    }
}

.max-padding-width {
    padding-left: 27%;
    @media (max-width: 1024px){
        margin: 0rem;
        width: 100%;
        padding: 1rem;
    }
    @media (max-width: 495px){
        margin: 0rem;
        width: 100%;
        padding: 1rem;
    }
}