.testimonials {
    .testimonial-heading {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 3rem 0rem;
        & h2 {
            font-size: 2.5rem;
            color: var(--bg-main);
        }
    }
    .swiper {
        box-shadow: 0 0 15px var(--bg-main);
        max-width: 1200px;
        margin: 0rem auto;
        background-color: var( --text-black-700);
        position: relative;
        border-radius: .5rem;
        .swiper-wrapper{
            padding: 3rem 0rem;
            .swiper-slide {
                text-align: center;
                font-size: 1rem;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                .testimonial-image-container {
                    height: 170px;
                    width: 170px;
                    border-radius: 50%;
                    overflow: hidden;
                    & img {
                        display: block;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .testimonial-text {
                    color: var(--bg-black-900);
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    padding: 1rem 5rem;
                    text-align: center;
                    .testimony {
                        color: var(--bg-black-100);
                        font-weight: bold;
                    }
                    .quote-icon {
                        padding: 1rem 0rem;
                        font-size: 2rem;
                        color: var(--bg-main);
                    }
                    .personal-details {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        .personal-name {
                            color: var(--bg-black-100);
                            font-weight: 600;
                        }
                        .personal-Job-Title {
                            color: var(--bg-black-100);
                            font-weight: 300;
                        }
                        .company {
                            color: var(--bg-main);
                            font-weight: 600;
                        }
                    }
                }
            }
        }
        .swiper-button-next {
            color: var(--bg-main);
        }
        .swiper-button-prev {
            color: var(--bg-main);
        }
        .swiper-pagination {
            color: var(--bg-main) !important;
        }
    }
}