@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --bg-black-900: #f2f2fc;
  --bg-black-100: #fdf9ff;
  --bg-black-50: #e8dfec;
  --text-black-900: #302e4d;
  --text-black-700: #504e70;
  --skin-color: #ec1839;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
}

.container {
  display: grid;
  grid-template-columns: 25% 1fr; /* Sidebar and main content */
}

@media (max-width: 991px) {
  .container {
    display: grid;
    grid-template-columns: 0% 1fr;
  }
}
nav {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6rem;
  border-right: 0.0625rem solid var(--bg-black-50);
}
nav .aside .logo {
  position: absolute;
  top: 20%;
  font-size: 1.875rem;
  text-transform: capitalize;
}
nav .aside .logo a {
  color: var(--text-black-900);
  font-weight: 800;
  padding: 0.9375rem 1.25rem;
  font-size: 1.875rem;
  letter-spacing: 0.3125rem;
  position: relative;
}
nav .aside .logo a span {
  font-family: "Clicker Script", cursive;
  font-size: 2.5rem;
}
nav .aside .logo a::before {
  content: "";
  position: absolute;
  width: 0.3125rem;
  height: 0.3125rem;
  border-bottom: 0.3125rem solid var(--skin-color);
  border-left: 0.3125rem solid var(--skin-color);
  bottom: 0;
  left: 0;
}
nav .aside .logo a::after {
  content: "";
  position: absolute;
  width: 0.3125rem;
  height: 0.3125rem;
  border-top: 0.3125rem solid var(--skin-color);
  border-right: 0.3125rem solid var(--skin-color);
  top: 0;
  right: 0;
}
nav .aside ul {
  list-style: none;
}
nav .aside ul li {
  padding-bottom: 1.25rem;
}
nav .aside ul li a {
  font-size: 1rem;
  font-weight: 600;
  color: var(--text-black-900);
  border-bottom: 0.0625rem solid var(--text-black-900);
}
nav .aside ul li a i {
  padding-right: 0.9375rem;
}
nav .aside ul li .active {
  color: var(--skin-color);
}
@media (max-width: 991px) {
  nav .nav .aside {
    display: none;
  }
}

.main-content {
  background-color: var(--bg-black-50);
  padding: 2rem;
  /* Medium Devices (tablets) */
}
.main-content .home-section .row-for-home-section {
  display: flex;
  justify-content: space-between;
  gap: 1.25rem;
}
.main-content .home-section .row-for-home-section .home-info h3 .name {
  font-size: 2rem;
  font-family: "Clicker Script", cursive;
  font-weight: 700;
  color: var(--skin-color);
}
.main-content .home-section .row-for-home-section .home-info h2 .my-profession {
  font-size: 2rem;
}
.main-content .home-section .row-for-home-section .home-info h2 .typing {
  color: var(--skin-color);
}
.main-content .home-section .row-for-home-section .home-info p {
  padding-bottom: 2rem;
  font-size: 1rem;
  color: var(--text-black-700);
}
.main-content .home-section .row-for-home-section .home-info .btn {
  font-size: 1rem;
  font-weight: 500;
  padding: 1rem 2rem;
  border-radius: 2rem;
  border: none;
  background: var(--skin-color);
  color: var(--bg-black-100);
  transition: all 0.3s ease;
}
.main-content .home-section .row-for-home-section .home-img {
  width: 60%;
  padding: 0rem 2rem;
  position: relative;
}
.main-content .home-section .row-for-home-section .home-img img {
  height: 100%;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 0.3rem;
}
.main-content .home-section .row-for-home-section .home-img::after {
  content: "";
  width: 30%;
  height: 20%;
  position: absolute;
  right: 0;
  bottom: -10%;
  border-bottom: 10px solid var(--skin-color);
  border-right: 10px solid var(--skin-color);
}
.main-content .home-section .row-for-home-section .home-img::after img {
  height: 100%;
  width: 100%;
}
.main-content .home-section .row-for-home-section .home-img::before {
  content: "";
  width: 30%;
  height: 20%;
  position: absolute;
  left: 0;
  top: -10%;
  border-top: 10px solid var(--skin-color);
  border-left: 10px solid var(--skin-color);
}
.main-content .home-section .row-for-home-section .home-img::before img {
  height: 100%;
  width: 100%;
}
@media (max-width: 991px) {
  .main-content .home-info {
    font-size: 1rem;
  }
  .main-content .home-img {
    display: none;
  }
}

.about-section {
  padding: 2rem 0rem;
}
.about-section .section-title h2 {
  font-size: 2rem;
  color: var(--text-black-900);
  font-weight: 700;
  position: relative;
}
.about-section .section-title h2::before {
  content: "";
  height: 0.25rem;
  width: 3.125rem;
  font-size: 2rem;
  background-color: var(--skin-color);
  top: 100%;
  position: absolute;
}
.about-section .section-title h2::after {
  content: "";
  height: 0.25rem;
  width: 1.5625rem;
  font-size: 2rem;
  background-color: var(--skin-color);
  top: 100%;
  left: 0;
  position: absolute;
  margin-top: 0.5rem;
}
.about-section .about-content .row h3 {
  font-size: 1.5rem;
  color: var(--text-black-900);
  padding: 1rem 0rem;
}
.about-section .about-content .row h3 span {
  color: var(--skin-color);
}
.about-section .about-content .row p {
  font-size: 1rem;
  line-height: 2.5rem;
  color: var(--text-black-700);
}
.about-section .about-content .row .more {
  border: none;
  color: var(--skin-color);
  cursor: pointer;
  font-size: 1rem;
  background: none;
}
.about-section .personal-info {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1.25rem;
}
.about-section .personal-info .info-item {
  font-size: 1rem;
  font-weight: bold;
  color: var(--text-black-900);
  border-bottom: 1px solid var(--text-black-700);
}
.about-section .personal-info .info-item p span {
  font-weight: 400;
  color: var(--text-black-700);
}
.about-section .download-Skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 1rem;
  padding: 3rem 0rem;
}
.about-section .download-Skills .Buttons {
  padding: 2rem 0rem;
}
.about-section .download-Skills .Buttons .downloadBtn {
  font-size: 1rem;
  font-weight: 500;
  padding: 1rem 2rem;
  border-radius: 2rem;
  border: none;
  background: var(--skin-color);
  color: var(--bg-black-100);
  transform: scale(1);
  transition: all 3s ease;
  background-color: greenyellow;
}
.about-section .download-Skills .Buttons .downloadBtn:hover {
  transform: scale(4);
}
.about-section .download-Skills .Buttons .downloadBtn:hover i {
  color: var(--bg-black-100);
  padding: 0rem 0.5rem;
  font-size: 1rem;
}
.about-section .download-Skills .Buttons .HireMeBtn {
  font-size: 1rem;
  font-weight: 500;
  padding: 1rem 2rem;
  border-radius: 2rem;
  border: none;
  background: var(--skin-color);
  color: var(--bg-black-100);
  transition: all 0.3s ease;
}
.about-section .download-Skills .skills {
  width: 100%;
}
.about-section .download-Skills .skills .skill-item {
  text-transform: capitalize;
  line-height: 1.5rem;
  font-weight: 600;
  color: var(--text-black-900);
  font-size: 1rem;
  padding: 1rem 0rem;
}
.about-section .download-Skills .skills .skill-item .progress-bar {
  background-color: var(--text-black-700);
  height: 0.3125rem;
  width: 100%;
  border-radius: 0.15625rem;
  position: relative;
}
.about-section .download-Skills .skills .skill-item .progress-bar .progress-in {
  background-color: var(--skin-color);
  height: 0.3125rem;
  width: 100%;
  border-radius: 0.15625rem;
  position: absolute;
}
.about-section .download-Skills .skills .skill-item .progress-bar .skill-percent {
  position: absolute;
  right: 0;
  top: -2rem;
  color: var(--text-black-900);
}
.about-section .education-experience {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  gap: 2rem;
}
.about-section .education-experience .education h3 {
  font-size: 1.5rem;
  margin-bottom: 1.875rem;
  font-weight: bold;
  color: var(--text-black-900);
}
.about-section .education-experience .education .timeline-box {
  background-color: var(--bg-black-100);
  border: 1px solid var(--bg-black-50);
  border-radius: 0.5rem;
}
.about-section .education-experience .education .timeline-box .timeline {
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
  padding: 2rem;
  position: relative;
}
.about-section .education-experience .education .timeline-box .timeline h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-black-900);
  text-transform: capitalize;
}
.about-section .education-experience .education .timeline::before {
  content: "";
  width: 0.2rem;
  position: absolute;
  height: 100%;
  left: 7px;
  top: 0;
  background-color: var(--skin-color);
}
.about-section .education-experience .education .circle-dot {
  position: absolute;
  left: 0;
  height: 15px;
  width: 15px;
  border-radius: 15px;
  background-color: var(--skin-color);
}
.about-section .education-experience .experience h3 {
  font-size: 1.5rem;
  margin-bottom: 1.875rem;
  font-weight: bold;
  color: var(--text-black-900);
}
.about-section .education-experience .experience .timeline-box-Experience {
  background-color: var(--bg-black-100);
  border: 1px solid var(--bg-black-50);
  border-radius: 0.5rem;
}
.about-section .education-experience .experience .timeline-box-Experience .timelineExperience {
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
  padding: 2rem;
  position: relative;
}
.about-section .education-experience .experience .timeline-box-Experience .timelineExperience h3 {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--text-black-900);
  text-transform: capitalize;
}
.about-section .education-experience .experience .timelineExperience::before {
  content: "";
  width: 0.2rem;
  position: absolute;
  height: 100%;
  left: 7px;
  top: 0;
  background-color: var(--skin-color);
}
.about-section .education-experience .experience .circle-dot {
  position: absolute;
  left: 0;
  height: 15px;
  width: 15px;
  border-radius: 15px;
  background-color: var(--skin-color);
}
@media (max-width: 991px) {
  .about-section .download-Skills .downloadBtn {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    border-radius: 1rem;
  }
  .about-section .download-Skills .downloadBtn i {
    color: var(--bg-black-100);
    padding: 0rem;
  }
}

.services-section .section-title h2 {
  font-size: 2rem;
  color: var(--text-black-900);
  font-weight: 700;
  position: relative;
}
.services-section .section-title h2::before {
  content: "";
  height: 0.25rem;
  width: 3.125rem;
  font-size: 2rem;
  background-color: var(--skin-color);
  top: 100%;
  position: absolute;
}
.services-section .section-title h2::after {
  content: "";
  height: 0.25rem;
  width: 1.5625rem;
  font-size: 2rem;
  background-color: var(--skin-color);
  top: 100%;
  left: 0;
  position: absolute;
  margin-top: 0.5rem;
}
.services-section .services-items {
  padding: 2rem 0rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
}
.services-section .services-items .service-item {
  background-color: var(--bg-black-100);
  border: 1px solid var(--bg-black-50);
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  text-align: center;
  transition: all 0.4s ease;
}
.services-section .services-items .service-item .icon {
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  margin: 0 auto;
  transition: all 0.5s ease;
}
.services-section .services-items .service-item .icon i {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;
  color: var(--skin-color);
  transition: all 0.5s ease;
}
.services-section .services-items .service-item .icon h4 {
  font-size: 1rem;
  color: var(--text-black-900);
  text-transform: capitalize;
}
.services-section .services-items .service-item .icon p {
  font-size: 1rem;
  color: var(--text-black-700);
}
.services-section .services-items .service-item .icon .more {
  border: none;
  color: var(--skin-color);
  cursor: pointer;
  font-size: 1rem;
  background: none;
}
.services-section .services-items .service-item .icon:hover {
  background-color: var(--skin-color);
}
.services-section .services-items .service-item .icon:hover i {
  color: var(--bg-black-100);
}
.services-section .services-items .service-item:hover {
  box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.section-title h2 {
  font-size: 2rem;
  color: var(--text-black-900);
  font-weight: 700;
  position: relative;
}
.section-title h2::before {
  content: "";
  height: 0.25rem;
  width: 3.125rem;
  font-size: 2rem;
  background-color: var(--skin-color);
  top: 100%;
  position: absolute;
}
.section-title h2::after {
  content: "";
  height: 0.25rem;
  width: 1.5625rem;
  font-size: 2rem;
  background-color: var(--skin-color);
  top: 100%;
  left: 0;
  position: absolute;
  margin-top: 0.5rem;
}

.portfolio-heading {
  color: var(--text-black-900);
  font-weight: 500;
  padding: 2rem 0rem;
}

.portfolio-item-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
}
.portfolio-item-container .portfolio-item {
  border: 3px solid var(--bg-black-900);
  border-radius: 0.5rem;
  cursor: pointer;
  width: 100%;
}
.portfolio-item-container .portfolio-item img {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
}

.contact-section {
  padding: 2rem 0rem;
}
.contact-section .contact-container .contact-title h2 {
  font-size: 2rem;
  color: var(--text-black-900);
  font-weight: 700;
  position: relative;
}
.contact-section .contact-container .contact-title h2::before {
  content: "";
  height: 0.25rem;
  width: 3.125rem;
  font-size: 2rem;
  background-color: var(--skin-color);
  top: 100%;
  position: absolute;
}
.contact-section .contact-container .contact-title h2::after {
  content: "";
  height: 0.25rem;
  width: 1.5625rem;
  font-size: 2rem;
  background-color: var(--skin-color);
  top: 100%;
  left: 0;
  position: absolute;
  margin-top: 0.5rem;
}
.contact-section .contact-container .contact-subtitle {
  padding: 2rem 0rem;
  text-align: center;
  font-size: 2rem;
  color: var(--skin-color);
}
.contact-section .contact-container .contact-minor-title {
  padding-bottom: 2rem;
  text-align: center;
  font-size: 1.5rem;
  color: var(--text-black-900);
}
.contact-section .contact-container .contact-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  gap: 2rem;
  justify-items: center;
}
.contact-section .contact-container .contact-info .contact-info-item {
  text-align: center;
}
.contact-section .contact-container .contact-info .contact-info-item i {
  padding: 1rem;
  border-radius: 3rem;
  background-color: var(--skin-color);
  font-size: 3.5rem;
  box-shadow: 0 0 25px var(--skin-color);
  transition: 0.3s ease-in-out;
}
.contact-section .contact-container .contact-info .contact-info-item i:hover {
  box-shadow: 0 0 25px var(--skin-color), 0 0 50px var(--skin-color);
  color: white;
  transform: translateY(-10px);
}
.contact-section .contact-container .contact-info .contact-info-item h4 {
  padding-top: 1rem;
}
.contact-section .contact-container .form-container .form-content {
  border: 0.2rem solid var(--text-black-900);
  border-radius: 0.2rem;
  padding: 1rem;
  margin: 0 auto;
  width: 30rem;
}
.contact-section .contact-container .form-container .form-content .form-control {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  outline: none;
  font-size: 1rem;
  border: 1px solid var(--bg-black-50);
  margin-bottom: 1rem;
  color: var(--text-black-700);
  transition: all 0.3s ease-in-out;
}
.contact-section .contact-container .form-container .form-content :focus {
  box-shadow: 0 0 25px rgba(48, 46, 77, 0.15);
}
.contact-section .contact-container .form-container .form-content .submitBtn .submitButton {
  border: none;
  outline: none;
  background-color: var(--skin-color);
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  width: 100%;
  font-size: 1rem;
  color: var(--bg-black-100);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.contact-section .contact-container .form-container .form-content .submitBtn .submitButton i {
  padding: 0rem 1rem;
}
.contact-section .contact-container .form-container .form-content .submitBtn :hover {
  box-shadow: 0 0 25px var(--skin-color), 0 0 50px var(--skin-color);
  color: white;
  transform: translateY(-10px);
}
.contact-section .contact-container .form-container .form-content .submitBtn :hover i {
  color: white;
}/*# sourceMappingURL=styles.css.map */